h2 {
  /* This will be the font for text/highlights */
  color: rgb(43, 92, 184);
  font-family: 'Indie Flower', cursive;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

h3 {
  /* This will be the font for data */
  font-family: 'Inconsolata', monospace;
}

* {
  background-color: rgb(228, 191, 191);
}
