h2 {
  /* This will be the font for text/highlights */
  color: rgb(22, 78, 75);
  font-family: 'Indie Flower', cursive;
  font-size: 1.3em;
}

h1 {
  font-size: 2.5em;
  text-align: center;
  color: rgb(22, 78, 75);
}

li {
  /* This will be the font for data */
  color: rgb(22, 78, 75);
  font-family: 'Inconsolata', monospace;
}

* {
  background-color: rgb(151, 214, 240);
}

th, tr, td {
  border: solid black 1px;
  padding: 10px;
  text-align: center;
}

footer {
  color: rgb(22, 78, 75);
}